<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        table {
            border: 1px solid #104158;
            width: 100%;
        }

        thead {
            height: 30px;
            background-color: #000000;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <table>
        <thead>
            <tr>
                <th>nome</th>
                <th>telefone</th>
                <th>cpf</th>
                <th>cep</th>
                <th>logradouro</th>
                <th>complemento</th>
                <th>bairro</th>
                <th>localidade</th>
                <th>uf</th>
                <th>ddd</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
            </tr>
        </tbody>
    </table>
</body>

</html>