<div>
    <button class="btn-grad" routerLink="/adicionar">Adicionar </button>
</div>
<div class="content">
    <!-- <div style="margin-bottom: 5px;margin-left: 5px;">
        <label for="" style="display: block;margin-bottom:5px;font-weight: bold;">Filtrar por mês</label>
        <select style="display: block;margin-bottom:5px;" id="filtraMes" [(ngModel)]="nrMes"
            (ngModelChange)="toNumber()">
            <option *ngFor="let mes of meses" [ngValue]="mes.id">{{mes.name}}</option>
        </select>
    </div> -->
    <table class="rTable" id="excel-table">
        <thead>
            <tr>
                <th>nome do servico</th>
                <th>valor</th>
                <th>ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let serv of listaServico">
                <td>{{serv.nomeServico}}</td>
                <td>{{serv.valor | currency: 'BRL'}}</td>
                <td>
                    <img src="./../../../assets/edit.svg" [routerLink]="['/adicionar', serv.id]" />
                    <img src="./../../../assets/delete.svg" (click)="excluir(serv.id)" />
                </td>
            </tr>

        </tbody>
    </table>
    <!-- <button class="btn" (click)="exportexcel()">Exportar Excel</button> -->
</div>

<!-- <app-tabela [dados]="listaServico" [title]="titulo">
    
</app-tabela> -->
