<div class="cardContainer">
    <a routerLink="/listarCliente">
        <div class="card">
            <img src="../../../assets/cliente.jpg" alt="Avatar" class="imagem">
            <div class="container">
                <h4><b>Clientes</b></h4>
                <p>Gerenciar</p>
            </div>
        </div>
    </a>
    <a routerLink="/listar">
        <div class="card">
            <img src="../../../assets/servico.jpeg" alt="Avatar" class="imagem">
            <div class="container">
                <h4><b>Serviços</b></h4>
                <p>Gerenciar</p>
            </div>
        </div>
    </a>
    <a routerLink="/faturamento">
        <div class="card">
            <img src="../../../assets/faturamento.png" alt="Avatar" class="imagem">
            <div class="container">
                <h4><b>Faturamento</b></h4>
                <p>Gerenciar</p>
            </div>
        </div>
    </a>
</div>