<div>
    <label for="">Nome do Servico</label>
    <input type="text" name="categoria.nome" [(ngModel)]="servico.nomeServico" />
    <label for="">Nome da Cliente</label>
    <input type="text" name="categoria.nome" [(ngModel)]="servico.nomeCliente" />
    <label for="">Valor</label>
    <input type="text" name="categoria.nome" [(ngModel)]="servico.valor" />
    <label for="">Data</label>
    <input type="date" name="categoria.nome" [(ngModel)]="servico.data" />
    <button (click)="adicionar(servico)">cadastrar</button>
</div>
